<div class="dashboard">
  <h2><%= t("validator.dashboard.index.title") %></h2>

  <p>En el menú de la izquierda aparecen las operaciones que puede realizar el perfil del validador sobre las unidades a las que está autorizado:</p>

  <h5>Visto Bueno </h5>
  <p>Podra dar la aprobación a los datos introducidos por una unidad, lo que conlleva el cierre de la entrada de datos y la remisión de un aviso a los supervisores para poner a su disposición dichos datos.
  Solo aparecerán los datos del periodo en curso </p>

  <h5>Usuarios</h5>
  <p> Consulta de usuarios autorizados</p>
</div>
