<div class = "row  panel" >
  <div class="small-12 columns server-error title"> Error 404 </div>
  <div class="small-12 columns server-error subtitle"> ¡¡ Página no encontrada !!  </div>

  <%= render 'error_data' %>

</div>

