<div class = "row  panel" >
  <div class="small-12 columns server-error title"> Error 422 </div>
  <div class="small-12 columns server-error subtitle"> ¡¡ No se puede procesas la petición !!  </div>

  <%= render 'error_data' %>

</div>

